@page "/useCaseNestedDialogs"

<h3>UseCaseNestedDialogs</h3>

@inject IDialogService _dialogService

<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>
@code {
    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog =_dialogService.Show<Dialog1Component>("First Level Dialog", options);
    }
}